.ImageContainer {
  position: relative;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 0;
  overflow: hidden;
}

.main-image {
  width: 100%;
  height: 115%;
  position: absolute;
  top: 0;
  left: 0;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: none;
  z-index: -1;
  animation: fade infinite ease-out;
  animation-duration: 7s;
}

@keyframes fade {
  0% {
    transform: translateY(-0%);
    background-image: url('../Assets/image1.jpeg');
  }
  33.3% {
    background-image: url('../Assets/image2.jpeg');
  }
  66.6% {
    transform: translateY(-2%);
    background-image: url('../Assets/image3.jpeg');
  }
  100% {
    transform: translateY(0%);
    background-image: url('../Assets/image1.jpeg');
  }
}

.overlay {
  background: #000;
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.5;
  z-index: 0;
}

.logo-wrapper {
  cursor: pointer;
}

.logo-wrapper img {
  height: 3.5rem;
}
