.swiper-override-style {
  width: 25rem;
  max-width: 100%;
}

.swiper-override-style2 {
  width: 100%;
}

.swiper-override-style2 img {
  max-width: 100%;
}

.swiper-override-style2 .swiper-pagination-bullet {
  background-color: white;
}

@media screen and (max-width: 700px) {
  .swiper-override-style {
    width: 100%;
  }
}
